<div class="container" style="padding-bottom: 100px;">
  <div>
    <h1 class="text-center" *ngIf="isUpdate===false">
      Thêm mới người dùng
    </h1>
    <h1 class="text-center" *ngIf="isUpdate===true">
      Sửa thông tin người dùng
    </h1>
  </div>
  <div>
    <form [formGroup]="formData">
      <div class="row">
        <div class="form-group col-md-6">
          <label>Email</label>
          <input class="form-control" formControlName="email" id="email" placeholder="Email" required="" type="text">
        </div>
        <div class="form-group col-md-6">
          <label>Tên tài khoản</label>
          <input class="form-control" formControlName="userName" id="userName" placeholder="Tên tài khoản" required=""
            type="text">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Số điện thoại</label>
          <input class="form-control" formControlName="phone" id="phone" placeholder="Số điện thoại" required=""
            type="text">
        </div>
        <div class="form-group col-md-6">
          <label>Địa chỉ</label>
          <input class="form-control" formControlName="address" id="address" placeholder="Địa chỉ" required=""
            type="text">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Giới tính</label>
          <select class="form-control" formControlName="gender">
            <option value="true">Nam</option>
            <option value="false">Nữ</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>Ngày sinh</label>
          <input class="form-control" formControlName="dateOfBirth" id="dateOfBirth" placeholder="Ngày sinh" required=""
            type="date">
        </div>
      </div>
    </form>
  </div>
  <div>
    <button (click)="cancel()" class="btn btn-danger btn-cancel">Hủy</button>
    <button (click)="onCreate()" class="btn btn-success btn-create" *ngIf="isUpdate===false">Thêm mới</button>
    <button (click)="onUpdate()" class="btn btn-success btn-create" *ngIf="isUpdate===true">Cập nhập</button>
  </div>
</div>
