  <br>
  <mat-horizontal-stepper [linear]="isLinear"  #stepper>
    <mat-step [completed]="true" [editable]="true">
        <ng-template matStepLabel>Thêm khóa học</ng-template>
        <app-add-course (next)="nextTab($event)"></app-add-course>
    </mat-step>
    <mat-step [completed]="true" [editable]="true" >
        <ng-template matStepLabel>Thêm nội dung bài học</ng-template>
        <app-add-lesson-chapter [CourseId]="CourseId" (next)="nextTab()"></app-add-lesson-chapter>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="finish-wrap">
        <div><i class="fa fa-check-circle icon-check"></i></div>
        <div class="text-finish">Hoàn thành</div>
      </div>
      <div style="display: flex;justify-content: flex-end;">
        <button class="btn btn-success btn-create" matStepperPrevious (click)="cancel()">Quay lại</button>
        <button class="btn btn-success btn-danger" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>