/* Import main project style */
@import "assets/styles/style";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

.ck-editor__editable {
  min-height: 200px;
}