<div class="sidebar">
    <div class="search-widget">
        <form class="flex flex-wrap align-items-center">
            <input type="search" placeholder="Search...">
            <button type="submit" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
        </form><!-- .flex -->
    </div><!-- .search-widget -->

    <div class="cat-links">
        <h2>Thể Loại</h2>

        <ul class="p-0 m-0">
            <li><a (click)="getCourseByCategory(undefined)">Tất Cả</a></li>
            <li *ngFor="let category of listCategory"><a (click)="getCourseByCategory(category)">{{ category.name }}</a></li>
        </ul>
    </div><!-- .cat-links -->

    <div class="latest-courses">
        <h2>Khóa Học Mới Nhất</h2>

        <ul class="p-0 m-0" *ngFor="let course of listCourseNew">
            <li class="flex flex-wrap justify-content-between align-items-center">
                <img src="{{course.image_url}}" alt="">

                <div class="content-wrap">
                    <h3><a href="/course/{{course.id}}">{{ course.name }}</a></h3>

                    
                    <div class="course-cos free-costt" *ngIf="course.price === 0">
                        <div class="course-cost free-cost">Free</div>
                    </div><!-- .price-drop -->
                    <div class="course-cost" *ngIf="course.price !== 0">
                        ${{course.price}}
                    </div><!-- .price-drop -->
                </div><!-- .content-wrap -->
            </li>
        </ul>
    </div><!-- .latest-courses -->

    <div class="ads">
        <img src="../../../assets/images/ads.jpg" alt="">
    </div><!-- .ads -->
    
</div><!-- .sidebar -->