<div class="table-data">
  <div class="row">
    <button (click)="editMyTest()" class="btn btn-primary btn-cancel">Cập nhật</button>
  </div>
  <form [formGroup]="formData">
    <div class="row">
      <div class="form-group col-md-8">
        <label>Tên bài kiểm tra</label>
        <input class="form-control" id="name" formControlName="name" placeholder="Tên bài kiểm tra" required="true"
          type="text">
      </div>
      <div class="form-group col-md-4">
        <label>Thời gian</label>
        <input class="form-control" id="time" formControlName="time" placeholder="Thời gian" required="true"
          type="number">
      </div>
    </div>
  </form>

  <br />
  <div class="mt-5">
    <label>Danh sách câu hỏi</label>
    <button (click)="addQuestion()" class="btn btn-primary btn-cancel">Thêm câu hỏi</button>
  </div>
  <div *ngFor="let question of test?.Questions, let i = index">
    <hr />
    <div class="row remove-margin">
      <div class="question" style="font-weight: 700;"></div>{{ i + 1 }}. {{ question.Content }}
      <br />
      <div class="form-group col-md-10" *ngFor="let answer of question?.Anwsers">
        <input type="radio" name=`{{question.Id}}` value="{{ answer.Id }}"
          *ngIf="question.CorrectAnswer === answer.Type" checked disabled>
        <input type="radio" name=`{{question.Id}}` value="{{ answer.Id }}" *ngIf="question.CorrectAnswer != answer.Type"
          disabled>
        {{ answer.Type }}. {{ answer.Content }}</div>
    </div>
    <div class="row remove-margin">
      <button (click)="editQuestion(question)" class="btn btn-warning btn-cancel">Sửa</button>
      <button (click)="removeQuestion(question)" class="btn btn-danger btn-cancel"
        style="margin-right: 8px;">Xóa</button>
    </div>
  </div>
  <!-- <mat-paginator (page)="pageSizeChange($event)" *ngIf="totalItems > 0" [length]="totalItems" [pageIndex]="page"
    [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="size" class="paginator"></mat-paginator> -->

</div>