::-webkit-scrollbar {
  height: $scroll-size-horizontal;
  width: $scroll-size-veritcal;
}

::-webkit-scrollbar-track {
  background-color: $color-clear;

  &:hover {
    background-color: $color-base;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $color-bg-page-border;
  border-radius: 10px;

  &:hover {
    background-color: $color-mid;
  }
}

// ::-webkit-scrollbar-button {
//   display: none;
// }
