<div class="page-header">
  <header class="site-header">
    <div class="top-header-bar">
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0"
          >
            <div class="header-bar-email d-flex align-items-center">
              <i class="fa fa-envelope"></i>admin@gmail.com
            </div>
            <!-- .header-bar-email -->
            <div class="header-bar-email d-flex align-items-center">
              <i class="fa fa-phone"></i>0918279888
            </div>
            <!-- .header-bar-email -->
          </div>
          <!-- .col -->

          <div
            class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center"
          >
            <div class="header-bar-search">
              <form class="flex align-items-stretch">
                <input type="search" placeholder="Bạn muốn học gì?" />
                <button
                  type="submit"
                  value=""
                  class="flex justify-content-center align-items-center"
                >
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
            <!-- .header-bar-search -->

            <div class="header-bar-menu">
              <ul
                class="flex justify-content-center align-items-center py-2 pt-md-0"
              >
                <li *ngIf="!currentUser">
                  <a href="#" [routerLink]="['/home']">Đăng Ký</a>
                </li>
                <li *ngIf="!currentUser">
                  <a href="#" [routerLink]="['/login']">Đăng Nhập</a>
                </li>
                <li *ngIf="currentUser">
                  {{ currentUser?.UserName }}
                  <a (click)="logout()" style="display: inline;">Đăng xuất</a>
                </li>
              </ul>
            </div>
            <!-- .header-bar-menu -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container-fluid -->
    </div>
    <!-- .top-header-bar -->

    <div class="nav-bar">
      <div class="container">
        <div class="row">
          <div class="col-9 col-lg-3">
            <div class="site-branding">
              <h1 class="site-title">
                <a href="#" [routerLink]="['/home']" rel="home"
                  >Ezu<span>ca</span></a
                >
              </h1>
            </div>
            <!-- .site-branding -->
          </div>
          <!-- .col -->

          <div
            class="col-3 col-lg-9 flex justify-content-end align-content-center"
          >
            <nav
              class="site-navigation flex justify-content-end align-items-center"
            >
              <ul
                class="flex flex-column flex-lg-row justify-content-lg-end align-content-center"
                style="white-space: nowrap;"
              >
                <li class="current-menu-item">
                  <a href="#" [routerLink]="['/home']">Trang Chủ</a>
                </li>
                <li><a href="#" [routerLink]="['/about']">Thông Tin</a></li>
                <li><a href="#" [routerLink]="['/courses']">Khóa Học</a></li>
                <li><a href="#" [routerLink]="['/contact']">Liên Hệ</a></li>
                <li>
                  <a href="#" [routerLink]="['/my-course']">Khoá học của tôi</a>
                </li>
              </ul>

              <div class="hamburger-menu d-lg-none">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- .hamburger-menu -->

              <div class="header-bar-cart">
                <a
                  [routerLink]="['/cart']"
                  class="flex justify-content-center align-items-center"
                  ><span aria-hidden="true" class="icon_bag_alt pr-1"></span>
                  ({{ numberOfItemCart }})</a
                >
              </div>
              <!-- .header-bar-search -->
            </nav>
            <!-- .site-navigation -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- .nav-bar -->
  </header>
  <!-- .site-header -->

  <div class="page-header-overlay" *ngIf="currentUser">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="entry-header">
            <h1 style="text-align: start; font-weight: 700;">{{ myTitle }}</h1>
          </header>
          <!-- .entry-header -->
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .page-header-overlay -->

  <div class="hero-content-overlay" *ngIf="!currentUser">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="hero-content-wrap flex flex-column justify-content-center align-items-start"
          >
            <header class="entry-header">
              <h4>BẮT ĐẦU VỚI CÁC KHÓA HỌC TRỰC TUYẾN</h4>
              <h1 style="text-align: start; font-weight: 700;">
                HỆ THỐNG HỌC TRỰC TUYẾN<br />TỐT NHẤT
              </h1>
            </header>
            <!-- .entry-header -->

            <!-- <div class="entry-content">
                            <p>Học với hệ thống chuyên gia trong mọi lĩnh vực. Mua một lần và học trọn đời.</p>
                        </div> -->

            <footer class="entry-footer read-more">
              <a href="#/about">CHI TIẾT</a>
            </footer>
            <!-- .entry-footer -->
          </div>
          <!-- .hero-content-wrap -->
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
</div>
<!-- .page-header -->
