:host {
  .quiz-inner-block {
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.16);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.16);
  }
  /* @media all and (min-width:1024px) */
  .quiz-inner-block {
    max-width: 820px;
    margin: 50px auto;
  }
  .content-container {
    padding: 8px;
  }
  body .container-fluid {
    padding: 60px 0 0;
  }
  #wrap {
    min-height: 100%;
  }
  /* @media all and (min-width:768px) */
  #wrap {
    min-height: calc(100vh - 670px);
  }
  /* @media all and (min-width:992px) */
  #wrap {
    min-height: calc(100vh - 700px);
  }
  #wrap {
    background-image: url('/build/images/grass.svg');
    background-repeat: no-repeat;
    background-size: 95%;
    padding-bottom: 75px;
    background-position: bottom;
  }
  /* @media all and (min-width:1024px) */
  #wrap {
    background-image: none;
    padding-bottom: 0px;
  }
  body,
  html {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #3b3b3b;
    font-family: Roboto, Arial, sans-serif;
  }
  .quiz-inner-block .title-quiz {
    padding: 10px 0;
  }
  .quiz-inner-block .title-quiz {
    background-color: #e4edfd;
    text-align: center;
    padding: 16px 0;
    margin: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .quiz-inner-block .quiz_img {
    display: none;
  }
  .quiz-inner-block .quiz_img {
    position: absolute;
    top: 0px;
    max-width: 578px;
    max-height: 550px;
    right: -75%;
  }
  /* @media all and (min-width:1024px) */
  #question-index {
    position: relative;
    overflow: hidden;
    padding: 50px 81px;
    height: auto;
  }
  .quiz-inner-block #question-index {
    padding: 10px 20px 20px;
  }
  .slide {
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
  .quiz-inner-block li {
    list-style: none;
  }
  .quiz-inner-block .question {
    margin-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* @media all and (min-width:1024px) */
  .quiz-inner-block .question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .quiz-inner-block .bottom-container {
    margin-top: 0px;
  }
  .quiz-inner-block .bottom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  a,
  p {
    font-family: Roboto, Arial, sans-serif;
  }
  a {
    color: #3b3b3b;
    text-decoration: none;
    outline: 0;
  }
  #check_news,
  #check_tools,
  .btn,
  .try-button,
  a.nav,
  button,
  header .input-group .form-control,
  label {
    outline: none;
    border: none;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4285;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
  .quiz-inner-block .bottom-container .next_button a {
    max-height: 25px;
    cursor: pointer;
    padding: 3px 12px;
    font-size: 12px;
    font-weight: 700;
  }
  .quiz-inner-block .bottom-container .next_button a {
    background-color: #8ebf42;
    border: 0;
    max-height: 45px;
    padding: 8px 46px;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
  }
  .pull-left {
    float: left;
  }
  .quiz-inner-block .bottom-container .fb-share {
    width: 25px;
    height: 25px;
  }
  .quiz-inner-block .bottom-container .fb-share {
    width: 35px;
    height: 35px;
    background: url(/build/images/facebook_btn.d0cd70ec.png) no-repeat 50%;
    background-size: cover;
  }
  .quiz-inner-block .answer_code {
    padding: 10px;
    font-size: 12px;
  }
  .quiz-inner-block .answer_code {
    background-color: #484c50;
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
  }
  .quiz-inner-block .answer-container ul {
    padding: 0;
  }
  .quiz-inner-block .answer-container li {
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  .quiz-inner-block .answer-container .clickable-answer,
  .quiz-inner-block .answer-container li {
    background-color: #f3f3f3;
    border-radius: 12px;
    padding: 16px 20px;
    margin-bottom: 20px;
    color: #818181;
  }
  .quiz-inner-block .answer-container li label {
    margin-right: 12px;
    font-size: 12px;
  }
  .quiz-inner-block .answer-container .clickable-answer label,
  .quiz-inner-block .answer-container li label {
    margin-right: 20px;
    color: #818181;
    font-size: 16px;
  }
  .quiz-inner-block .question span {
    background-color: #c2dfff;
    color: #fff;
    line-height: 26px;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 10px;
    -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.16);
    font-weight: 700;
    font-family: Roboto, sans-serif;
  }
  figure,
  h2,
  h3,
  p {
    margin: 0;
  }
  .quiz-inner-block .question p {
    margin-top: 20px;
    font-weight: 500;
  }
  /* @media all and (min-width:1024px) */
  .quiz-inner-block .question p {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 32px;
    margin: 0 0 0 20px;
  }
  body h1 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
  }
  /* @media all and (min-width:768px) */
  body h1 {
    font-size: 32px;
    line-height: 42px;
  }
  /* @media all and (min-width:992px) */
  body h1 {
    font-size: 36px;
    line-height: 46px;
    padding-top: 5px;
  }
  .quiz-inner-block .title-quiz h1 {
    margin: 0;
    font-size: 24px;
    color: #42444e;
    font-weight: 700;
    font-family: Roboto, sans-serif;
  }
  .mat-radio-group {
    display: flex;
    flex-direction: column;
  }

  .mat-radio-button {
    margin-top: 10px;
    font-size: 16px;
  }
}
