<div class="container">
    <app-breadcrum></app-breadcrum>

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="featured-courses courses-wrap">
                <div class="row mx-m-25">
                    <div class="col-12 col-md-6 px-25" *ngFor="let course of listCourse">
                        <app-item-courser [course]="course"></app-item-courser>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .featured-courses -->

            <div class="pagination flex flex-wrap justify-content-between align-items-center">
                <div class="col-12 col-lg-4 order-2 order-lg-1 mt-3 mt-lg-0">
                    <ul class="flex flex-wrap align-items-center order-2 order-lg-1 p-0 m-0">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>

                <div class="col-12 flex justify-content-start justify-content-lg-end col-lg-8 order-1 order-lg-2">
                    <div class="pagination-results flex flex-wrap align-items-center">
                        <p class="m-0">Showing 1–3 of 12 results</p>

                        <form>
                            <select>
                                <option>Show: 06</option>
                                <option>Show: 12</option>
                                <option>Show: 18</option>
                                <option>Show: 24</option>
                            </select>
                        </form>
                    </div><!-- .pagination-results -->
                </div>
            </div><!-- .pagination -->
        </div><!-- .col -->

        <app-rightmenu class="col-12 col-lg-4"></app-rightmenu> 
    </div><!-- .row -->
</div>