<!-- Wrapper-->
<div id="wrapper">
  <!-- day la goi thang component nao khac vao 1 component -->
  <!-- giong partialview -->
  <!-- Left navigation bar -->
  <!-- bam f12 -->
  <app-navigation></app-navigation>

  <!-- Main page wrapper -->
  <div class="gray-bg" id="page-wrapper">

    <!-- Top navigation -->
    <app-topnavbar></app-topnavbar>

    <!-- Main view/routes wrapper-->
    <div style="padding-top: 40px">
      <router-outlet></router-outlet>
      <footer></footer>
    </div>


    <!-- Footer -->
    <app-footer></app-footer>

  </div>
  <!-- End page wrapper-->

</div>
<!-- End wrapper-->