:host {
  .container {
    margin: 0 auto;
    &.is-desktop {
      height: 100vh;
      overflow: hidden;
      .container-content {
        max-width: 80%;
        margin: 0 auto;
        position: relative;
        // top: 50%;
        // transform: translateY(-50%);
        box-shadow: 1px 1px 5px 0px rgb(130, 130, 130);
      }
    }

    .mat-grid-list {
      &.is-desktop {
        background: #fff;
      }
    }
  }

  .left-container {
    #app-left-content {
      width: 100%;
      height: 100%;
      background-color: #05693f;
      background-size: cover;
      background-position: 50% 50%;
      background-image: url(/assets/images/left-background.jpg);
      background-repeat: no-repeat;
      position: relative;
      h1 {
        margin: 0;
        margin-top: 50%;
        text-align: center;
        color: #fff;
      }
    }
  }
  .right-container {
    background: #fafafa;
    background-repeat: no-repeat;
    background-position: top 20px center;
  }

  .mybackground{
    background-image: url('../../../../assets/images/pencil.jpg');
  }
}
