<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header Tranparent">
        <div class="profile-element">
          <img alt="image" class="img-circle avatar" src="../../../assets/images/admin.png">
          <p class="text-info" *ngIf="userName">{{userName}}</p>
        </div>

      </li>
      <li class="Tranparent">
        <a [routerLink]="['/dashboard']">
          <i aria-hidden="true" class="fa fa-home"></i>
          <span class="nav-label">Trang chủ</span>
        </a>
      </li>
      <li class="Tranparent">
        <a [routerLink]="['/users']">
          <i aria-hidden="true" class="fa fa-users"></i>
          <span class="nav-label">Quản lý người dùng</span>
        </a>
      </li>
      <li class="Tranparent">
        <a [routerLink]="['/courses']">
          <i aria-hidden="true" class="fas fa-laptop-code"></i>
          <span class="nav-label">Quản lý khoá học</span>
        </a>
      </li>
    </ul>
  </div>
</nav>