<div class="container">
    <app-breadcrum titlebreadcrum="Giới thiệu"></app-breadcrum>

    <div class="row">
        <div class="col-12">
            <div class="about-heading">
                <h2 class="entry-title">Chào Mừng Tới Ezuca</h2>

                <p>Hệ Thống Học Và Thi Trực Tuyến Hàng Đầu Việt Nam</p>
            </div><!-- .about-heading -->
        </div>

        <div class="col-12 col-lg-6">
            <div class="about-stories">
                <h3>Câu Chuyện Của Chúng Tôi</h3>

                <p>Nhận thấy những bất cập lớn trong việc học và thi trực tiếp của những học viên hiện nay, như: học phí cao, thời gian , địa điểm bất cập,...</p>

                <p>Chúng tôi- những sinh viên khao khát xây dựng hệ thống học và thi trực tuyến để giải quyết các bất cập trên, xây dựng một hệ thống có thể kết nối giữa những giảng viên có tâm huyết truyền đạt kiến thức đến các học viên có ước muốn tìm hiểu các kỹ năng. Hệ thống có những lợi ích:</p>

                <ul class="p-0 m-0 green-ticked">
                    <li>Mua 1 lần, học trọn đời</li>
                    <li>Học mọi lúc mọi nơi, chỉ cần có internet</li>
                    <li>Học phí rẻ như cho</li>
                </ul><!-- .green-ticked -->
            </div><!-- .about-stories -->
        </div>

        <div class="col-12 col-lg-6">
            <div class="about-values">
                <h3>Mục Tiêu Của Chúng Tôi</h3>
                <ul class="p-0 m-0 green-ticked">
                    <li>Đem đến sự hài lòng của học viên về chất lượng của từng khóa học</li>
                    <li>Xây dựng thành hệ thống lớn nhất thế giới</li>
                </ul><!-- .green-ticked -->
            </div><!-- .about-values -->
        </div>

        <section class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 align-content-lg-stretch">
                        <header class="heading">
                            <h2 class="entry-title">Về Ezuca</h2>
    
                            <p>Ezuca là hệ thống học và thi trực tuyến hàng đầu Việt Nam. Các khóa học luôn được bổ sung và cập nhật bởi các chuyên gia trong mọi lĩnh vực trong đời sống xã hội.</p>
                        </header><!-- .heading -->
    
                        <div class="entry-content ezuca-stats">
                            <div class="stats-wrap flex flex-wrap justify-content-lg-between">
                                <div class="stats-count">
                                    50<span>M+</span>
                                    <p>Học Viên</p>
                                </div><!-- .stats-count -->
    
                                <div class="stats-count">
                                    30<span>K+</span>
                                    <p>Khóa Học Khác Nhau</p>
                                </div><!-- .stats-count -->
    
                                <div class="stats-count">
                                    340<span>M+</span>
                                    <p>Giảng Viên Trực Tuyến</p>
                                </div><!-- .stats-count -->
    
                                <div class="stats-count">
                                    20<span>+</span>
                                    <p>Quốc Gia Hỗ Trợ</p>
                                </div><!-- .stats-count -->
                            </div><!-- .stats-wrap -->
                        </div><!-- .ezuca-stats -->
                    </div><!-- .col -->
    
                    <div class="col-12 col-lg-6 flex align-content-center mt-5 mt-lg-0">
                        <div class="ezuca-video position-relative">
                            <div class="video-play-btn position-absolute">
                                <img src="../../../assets/images/video-icon.png" alt="Video Play">
                            </div><!-- .video-play-btn -->
    
                            <img src="../../../assets/images/video-screenshot.png" alt="">
                        </div><!-- .ezuca-video -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section>

        <section class="testimonial-section">
            <!-- Swiper -->
            <div class="swiper-container testimonial-slider swiper-container-fade swiper-container-horizontal swiper-container-wp8-horizontal">
                <div class="swiper-wrapper" style="transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" style="width: 1263px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-6 flex order-2 order-lg-1 align-items-center mt-5 mt-lg-0">
                                    <figure class="user-avatar">
                                        <img src="../../../assets/images/user-3.jpg" alt="">
                                    </figure><!-- .user-avatar -->
                                </div><!-- .col -->
    
                                <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                                    <div class="entry-content">
                                        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                                    </div><!-- .entry-content -->
    
                                    <div class="entry-footer">
                                        <h3 class="testimonial-user">James Stephens - <span>University in Cambridge</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 1263px; opacity: 1; transform: translate3d(-1263px, 0px, 0px); transition-duration: 0ms;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                                    <figure class="user-avatar">
                                        <img src="../../../assets/images/user-1.jpg" alt="">
                                    </figure><!-- .user-avatar -->
                                </div><!-- .col -->
    
                                <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                                    <div class="entry-content">
                                        <p>Together as teachers, students and universities we can help make this education available for everyone.</p>
                                    </div><!-- .entry-content -->
    
                                    <div class="entry-footer">
                                        <h3 class="testimonial-user">Russell Stephens - <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .swiper-slide -->
    
                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 1263px; opacity: 0; transform: translate3d(-2526px, 0px, 0px); transition-duration: 0ms;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                                    <figure class="user-avatar">
                                        <img src="../../../assets/images/user-2.jpg" alt="">
                                    </figure><!-- .user-avatar -->
                                </div><!-- .col -->
    
                                <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                                    <div class="entry-content">
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div><!-- .entry-content -->
    
                                    <div class="entry-footer">
                                        <h3 class="testimonial-user">Robert Stephens - <span>University in Oxford</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .swiper-slide -->
    
                    <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="2" style="width: 1263px; opacity: 0; transform: translate3d(-3789px, 0px, 0px); transition-duration: 0ms;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-6 flex order-2 order-lg-1 align-items-center mt-5 mt-lg-0">
                                    <figure class="user-avatar">
                                        <img src="../../../assets/images/user-3.jpg" alt="">
                                    </figure><!-- .user-avatar -->
                                </div><!-- .col -->
    
                                <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                                    <div class="entry-content">
                                        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                                    </div><!-- .entry-content -->
    
                                    <div class="entry-footer">
                                        <h3 class="testimonial-user">James Stephens - <span>University in Cambridge</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .swiper-slide -->
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1263px; opacity: 0; transform: translate3d(-5052px, 0px, 0px); transition-duration: 0ms;">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-6 order-2 order-lg-1 flex align-items-center mt-5 mt-lg-0">
                                    <figure class="user-avatar">
                                        <img src="../../../assets/images/user-1.jpg" alt="">
                                    </figure><!-- .user-avatar -->
                                </div><!-- .col -->
    
                                <div class="col-12 col-lg-6 order-1 order-lg-2 content-wrap h-100">
                                    <div class="entry-content">
                                        <p>Together as teachers, students and universities we can help make this education available for everyone.</p>
                                    </div><!-- .entry-content -->
    
                                    <div class="entry-footer">
                                        <h3 class="testimonial-user">Russell Stephens - <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div></div><!-- .swiper-wrapper -->
    
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                            <div class="swiper-pagination position-relative flex justify-content-center align-items-center swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .testimonial-slider -->
        </section>
    </div><!-- .row -->
</div>